-# %div{class: 'w-screen h-screen bg-gray-200' }
-#   %div{class: 'w-full h-16 bg-green-400 flex content-center items-center justify-center'}
-#     %h1{class: 'font-bold text-white text-8xl'} RailsMusic

  -# %div{class: 'w-full h-4/5 flex items-center justify-around'}

  -#   %div{class: 'h-full w-1/3 bg-white flex flex-col items-center justify-around'}
  -#     %div{class: 'h-1/2 w-1/2'}
  -#       %img{src:'https://cdn-icons-png.flaticon.com/512/195/195128.png'}
  -#     %div{class: ''}
  -#       %button{class: 'h-12 text-white font-bold bg-green-400 py-1 px-12 rounded hover:bg-green-700'}
  -#         = link_to 'ARTISTS', '../artists'

  -#   %div{class: 'h-full w-1/3 bg-white flex flex-col items-center justify-around'}
  -#     %div{class: 'h-1/2 w-1/2'}
  -#       %img{src:'https://cdn-icons-png.flaticon.com/512/299/299103.png'}
  -#     %div{class: ''}
  -#       %button{class: 'h-12 text-white font-bold bg-green-400 py-1 px-12 rounded hover:bg-green-700'}
  -#         = link_to 'ALBUMS', '../albums'

  -#   %div{class:'h-full w-1/3 bg-white flex flex-col items-center justify-around'}
  -#     %div{class: 'h-1/2 w-1/2'}
  -#       %img{src: 'https://cdn-icons.flaticon.com/png/512/4795/premium/4795895.png?token=exp=1637557029~hmac=c042750a6a621c6959e9fcbdf6597314'}
  -#     %div{class: ''}
  -#       %button{class: 'h-12 text-white font-bold bg-green-400 py-1 px-12 rounded hover:bg-green-700'}
  -#         = link_to 'TRACKS', '../tracks'

%body{class: 'w-screen h-screen overflow-hidden'}
  %main{class: 'main'}
    -# %div{class: 'w-full bg-black bg-opacity-50 flex items-center text-white'}
    -#   %div{class: 'w-4/5 h-16 mx-auto flex justify-between mb-4'}
    -#     %h1{class: 'text-3xl font-medium py-1 mt-4'} RailsMusic🎧
    -#     %ul{class: 'flex justify-end pr-4 mt-4'}
    -#       %li{class: 'ml-4 font-medium text-2xl py-1'}
    -#         = link_to 'HOME', '/'
    -#       %li{class: 'ml-4 font-medium text-2xl py-1 cursor-pointer'} ABOUT
    -#       %li{class: 'ml-4 font-medium text-2xl py-1 cursor-pointer'} CONTACT
    -#       %li{class: 'ml-4 font-medium text-2xl px-4 py-1 border rounded border-white cursor-pointer'} SUBSCRIBE
    %div{class: 'w-4/5 h-full mx-auto flex'}
      %div{class: 'w-1/2 h-full p-24'}
        -# %div{class: 'h-1/2 w-full flex flex-col justify-center items-center'}
        -#   %h1{class: 'text-5xl font-bold'} BROWSE MUSIC
        -#   %p{class: 'font-medium tracking-widest'}Lorem ipsum dolor, sit amet.
        %div{class: 'h-full w-3/5 mx-auto flex justify-center items-center'}
          %button{class:'bg-blue-400 h-16 w-64 py-2 px-8 rounded-lg text-white text-center tracking-widest ml-4 text-4xl hover:bg-blue-900 mb-12'}
            = link_to 'ARTISTS', '../artists'
          %button{class:'bg-blue-400 h-16 w-64 py-2 px-8 rounded-lg text-white tracking-widest ml-4 text-4xl hover:bg-blue-900 mb-12'}
            = link_to 'ALBUMS', '../albums'
          %button{class:'bg-blue-400 h-16 w-64 py-2 px-8 rounded-lg text-white tracking-widest ml-4 text-4xl hover:bg-blue-900 mb-12'}
            = link_to 'TRACKS', '../tracks'
      %div{class: 'w-1/2 h-full flex justify-center items-center'}
        %img{src:'https://pbs.twimg.com/media/DcxzLOdVwAAkM9y.png'}

        